<% cache [current_currency, @product] do %>
  <div class="all_product_show" data-hook="product_show" itemscope itemtype="http://schema.org/Product">
    <% @body_id = 'product-details' %>

    <div class="columns six alpha left_part" data-hook="product_left_part">
      <div class="row left_part_wrap" data-hook="product_left_part_wrap">

        <div id="product-images" data-hook="product_images">
          <div id="main-image" data-hook>
            <%= render :partial => 'image' %>
          </div>
          <div id="thumbnails" data-hook>
              <%= render :partial => 'thumbnails' %>
          </div>
        </div>
        

        <div data-hook="product_properties">
          <%= render :partial => 'properties' %>
        </div>

        <div data-hook="promotions">
          <%= render :partial => 'promotions' %>
        </div>

      </div>
    </div>

    <div class="columns ten omega right_part" data-hook="product_right_part">
      <div class="row right_part_wrap" data-hook="product_right_part_wrap">

        <div id="product-description" data-hook="product_description">

          <h1 class="product-title" itemprop="name"><%= accurate_title %></h1>

          <div class="description_div" itemprop="description" data-hook="description">
            <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
          </div>

          <div id="cart-form" data-hook="cart_form">
            <%= render :partial => 'cart_form' %>
          </div>

        </div>

        <%= render :partial => 'taxons' %>

      </div>
      <div class="pci_iamge"></div>
    </div>

  </div>

  <div class="main_bottom">

    <ul class="links_separat">
      <li class="pos_0">
        <a>כיצד זה עובד?</a>
      </li>
      <li class="pos_1">
        <a>פרטים טכניים</a>
      </li>
    </ul>   

    <div class="content_how_it_works active">
      <div class="right_content">

        <h3>GASLEVEL STICK מתאים בדיוק ל: </h3>
        
        <ul class="good_for">
          <li class="pos_0">
            <a>קמפינג</a>
          </li>
          <li class="pos_1">
            <a>ברביקיו</a>
          </li>
          <li class="pos_2">
            <a>על הסירה</a>
          </li>
          <li class="pos_3">
            <a>עסקים (מסעדות, מסחרי, תעשייה)</a>
          </li>
          <li class="pos_4">
            <a>זפתים</a>
          </li>
        </ul>

        <a class="download" href="/">הורד חוברת הדרכה כאן</a>

        <div class="content_image">
          <img src="/images/content_image_stick.png">
        </div>

      </div>
      <div class="left_video">
          <iframe class="classic_video" width="428" height="243" src="//www.youtube.com/embed/kQ6ImO5VYXw" frameborder="0" allowfullscreen></iframe>
          <iframe class="stick_video" src="http://pdl.vimeocdn.com/60296/568/178045114.mp4?token2=1404077960_cbbc0f55a1786d8e8900454187bb99a6&aksessionid=28b524c9096726a3"></iframe>
      </div>
    </div>
    <div class="content_technical_details">

      <div class="classic_item">
        <h3>מפרט טכני</h3>
        <ul>
          <li class="pos_0">
            <a>מעטפת פלסטיק ABS</a>
          </li>
          <li class="pos_1">
            <a>סוללת ליתיום CR2032 </a>
          </li>
          <li class="pos_2">
            <a>משתמש באולטרסאונד כדי לזהות ברמת מילוי </a>
          </li>
          <li class="pos_3">
            <a>מיוצר בIserlohn / גרמניה </a>
          </li>
          <li class="pos_4">
            <a>מידות H / W / T: 65 mm / 30 mm / 16 mm</a>
          </li> 
          <li class="pos_4">
            <a href="http://www.gaslock.com/assets/Uploads/PDFs/BDA-Gaslevel.pdf">לכל הפרטים</a>
          </li>         
        </ul>
      </div>

      <div class="stick_item">

          <div class="optimal_image">
              <img src="/images/stick_main.png">
          </div>

          <div class="empty_stick_image">
            <span class="first">במקרה שהמיכל ריק</span>
            <span class="secend">אור אדום</span>
            <img src="/images/red.png">
          </div>

          <div class="filled_stick_image">
            <span class="first">במקרה שהמיכל מלא</span>
            <span class="secend">אור ירוק</span>
            <img src="/images/green.png">
          </div>

      </div>
    </div>
  </div>
<% end %>